# Ignore uploads & upgrade
uploads/
upgrade/

# Ignore cache & backup
cache/
backups/

# Ignore system files
*.log
.DS_Store
Thumbs.db

# Ignore Node & build (nếu có dùng npm/yarn trong themes/plugins)
node_modules/
dist/
build/

# Ignore plugin cache bên trong
plugins/*/cache/
themes/*/cache/

# Ignore toàn bộ plugins (chỉ giữ theme tự viết)
plugins/

# Ignore ngôn ngữ & waf
languages/
jetpack-waf/


# Ignore uploads (media)
uploads/

# Ignore cache WP
cache/
